body,
main,
aside,
button,
input,
select,
textarea,
.wmlf-masthead {
	color: $color__text-main;
	font-family: $font__controls;
	font-size: 1em;
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";