.wmlf-bar-secondary, .wmlf-site-bread-crumb-nav {
	display: none;

	padding: ( $site__gutter / 2 )  ( $site__gutter * 2 );
	width: 100%;

	background: #fff;
	color: #000;

	@include breakpoint( $desktop ) {
		display: block;
	}
}
