.wmlf-bar-primary {
	position: relative;
	width: 100%;

	background: $color__background-navbar-profile;
	color: $color__text-navbar-profile;

	@include breakpoint( $after-tablet ) {
		height: $nav-bar__desktop;

		svg {
			height: 20px;
			width: 20px;
		}
	}

	/*--------------------------------------------------------------
	# Layout for nested block.
	--------------------------------------------------------------*/
	.wmlf-mobile-toggle-menu {
		float: left;
	}

	.log-out-link {
		float: right;
		text-align: right;

		color: #fff;

		&:hover {
			color: #000;
		}
	}
}