table.shop_table_responsive {
	&, & * {
	/* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
	 -ms-word-break: break-all;
	     word-break: break-all;

	     /* Non standard for webkit */
	     word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto;
	}

	@include breakpoint( min-width 769px ) { // Woocommerece default for tables.
		td {
			min-width: 120px;
		}
		td.membership-content-title {
			width: 20%;
		}
		td.membership-content-accessible {
			width: 20%;
		}
		td.membership-content-excerpt {
			width: 60%;
			
		}	
	}
	
}