/*
This file serves as the stylesheet for WooCommerce Memberships for LegalFab,
by Dominique A. Mariano <dominique.acpal.mariano@gmail.com>.
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Compass
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Background colors.
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Text colors.
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Border colors.
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
main,
aside,
button,
input,
select,
textarea,
.wmlf-masthead {
  color: #3d596d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #e5e5e5;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: border-box;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  width: auto;
  max-width: 100%;
  /* Adhere to container width. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  background: #fff;
}
table, table tr {
  border: 1px solid #e5e5e5;
}
table td, table th {
  padding: 10px;
}
table th {
  font-weight: bold;
}

table.shop_table_responsive, table.shop_table_responsive * {
  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
@media (min-width: 769px) {
  table.shop_table_responsive td {
    min-width: 120px;
  }
  table.shop_table_responsive td.membership-content-title {
    width: 20%;
  }
  table.shop_table_responsive td.membership-content-accessible {
    width: 20%;
  }
  table.shop_table_responsive td.membership-content-excerpt {
    width: 60%;
  }
}

/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #F2F6F9;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #F2F6F9;
}

.notification {
  position: relative;
  display: inline-block;
}
.notification__count {
  margin-left: -15px;
  font-size: 10px;
}

/*--------------------------------------------------------------
# Badges
--------------------------------------------------------------*/
.badge {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  padding: 1px 5px;
  font-size: 0.75em;
  border: 1px solid #668eaa;
  color: #668eaa;
}
.badge_important {
  border: 0;
  background: #7FBF8F;
  color: #fff;
}
.badge_alert {
  border: 0;
  background: red;
  color: #fff;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: transparent transparent transparent;
  border-radius: 3px;
  background: #02276D;
  color: #fff;
  font-size: 0.8em;
  line-height: 1;
  padding: .8em 2em .8em;
  text-shadow: 0 0 0 transparent;
}
.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: transparent transparent transparent;
  box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent, inset 0 0 0 transparent;
}
.button:active, .button:focus,
button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: transparent transparent transparent;
  box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.button:visited, .button:active, .button:link {
  color: #fff;
}

.button.cancel {
  background-color: #7E8386;
}

.wmlf-mobile-toggle-menu {
  border-radius: 0;
  padding: 9px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  border: 0;
  display: block;
  outline: 0;
}
.wmlf-mobile-toggle-menu > svg {
  width: 100%;
  height: auto;
}
.wmlf-mobile-toggle-menu:hover path {
  fill: #476EB7;
}
@media (min-width: 601px) {
  .wmlf-mobile-toggle-menu {
    display: none;
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #668eaa;
  border: 1px solid #e5e5e5;
  border-radius: 0;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #3d596d;
}

select {
  border: 1px solid #e5e5e5;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 10px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #668eaa;
  text-decoration: none;
  box-shadow: 0 0 0 0 transparent;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: background-color 0 ease-in;
  transition: none;
}
a:visited {
  color: #668eaa;
}
a:hover, a:focus, a:active {
  color: #4f748e;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.wmlf-tabs {
  background: #fff;
  border: 1px solid #e5e5e5;
  margin-bottom: 12px;
}
.wmlf-tabs__list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.wmlf-tabs__list, .wmlf-tabs__list ul {
  list-style-type: none;
}
.wmlf-tabs__link {
  padding: 10px 15px 8px 15px;
  display: block;
  border-bottom: 2px solid transparent;
}
.wmlf-tabs__tab_selected .wmlf-tabs__link {
  border-bottom: 2px solid #02276D;
}
.wmlf-tabs__tab {
  float: left;
  display: none;
}
.wmlf-tabs__tab_selected {
  display: block;
}
@media (min-width: 961px) {
  .wmlf-tabs__tab {
    display: block;
  }
}

/*--------------------------------------------------------------
## Breadcrumbs
--------------------------------------------------------------*/
.woocommerce-breadcrumb {
  margin: 0;
}

/*--------------------------------------------------------------
## Dropdowns
--------------------------------------------------------------*/
.wmlf-hovercard {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.wmlf-hovercard__label {
  float: left;
}
.wmlf-hovercard__label:hover {
  background: #7E8386;
}
.wmlf-hovercard__label-link {
  color: #fff;
  display: block;
  cursor: pointer;
  padding: 0 10px;
  position: relative;
  height: 46px;
}
@media (min-width: 783px) {
  .wmlf-hovercard__label-link {
    padding: 0 6px;
    height: 38px;
  }
}
.wmlf-hovercard__label-link:hover {
  color: #fff;
  text-decoration: none;
}
.wmlf-hovercard__profile-name {
  font-size: 14px;
  white-space: nowrap;
  float: left;
  margin-right: 8px;
  height: 38px;
  line-height: 38px;
  color: #fff;
}
@media (max-width: 782px) {
  .wmlf-hovercard__profile-name {
    display: none;
  }
}
.wmlf-hovercard__pop-up {
  display: none;
  width: 280px;
  position: absolute;
  z-index: 11;
  top: 46px;
  padding: 5px;
  background: #7E8386;
}
@media (max-width: 600px) {
  .wmlf-hovercard__pop-up {
    width: 100%;
  }
}
@media (min-width: 783px) {
  .wmlf-hovercard__pop-up {
    top: 38px;
  }
}
.wmlf-hovercard__description {
  margin-bottom: 0;
  font-size: 0.85em;
}
.wmlf-hovercard__menu {
  margin: 4px 0 0 0;
  list-style-type: none;
}
.wmlf-hovercard__menu-item {
  margin-top: 1px;
}
.wmlf-hovercard__menu-item:first-child {
  margin-top: 0;
}
.wmlf-hovercard__menu-item > a {
  padding: 10px;
  background: #fff;
  color: #000;
  display: block;
}
.wmlf-hovercard__menu-item > a:hover {
  background: #F2F6F9;
}

.wmlf-hovercard_notification {
  float: left;
}
.wmlf-hovercard__pop-up_notifications {
  left: 0;
}
.wmlf-hovercard__pop-up_notifications .wmlf-hovercard__menu {
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wmlf-hovercard_edit-settings {
  float: right;
}
.wmlf-hovercard__pop-up_edit-settings {
  right: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-center_align-block {
  display: block;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.wmlf-app-content:before,
.wmlf-app-content:after,
.wmlf-bar-primary:before,
.wmlf-bar-primary:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.wmlf-app-content:after,
.wmlf-bar-primary:after {
  clear: both;
}

/*--------------------------------------------------------------
# App
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.wmlf-app-content-area {
  float: right;
  width: 100%;
  margin: 0 0 0 -250px;
  width: 100%;
}
@media (max-width: 960px) {
  .wmlf-app-content-area {
    margin: 0 0 0 -187.5px;
  }
}
@media (max-width: 600px) {
  .wmlf-app-content-area {
    margin: 0 0 0 0;
  }
}
@media (max-width: 600px) {
  .wmlf-app-content_has-active-mobile-sidebar .wmlf-app-content-area {
    margin: 0 0 0 -187.5px;
  }
}

.wmlf-app-main {
  padding: 15px;
  margin: 0 0 0 250px;
}
@media (max-width: 960px) {
  .wmlf-app-main {
    margin: 0 0 0 187.5px;
  }
}
@media (max-width: 600px) {
  .wmlf-app-main {
    margin: 0 0 0 0;
  }
}
@media (max-width: 600px) {
  .wmlf-app-content_has-active-mobile-sidebar .wmlf-app-main {
    margin: 0 0 0 187.5px;
  }
}

.wmlf-app-content {
  padding: 15px;
}
@media (max-width: 960px) {
  .wmlf-app-content {
    padding: 0;
  }
}

.wmlf-app-widget-area {
  display: block;
  float: left;
  overflow: hidden;
  width: 250px;
  padding: 15px;
}
@media (max-width: 960px) {
  .wmlf-app-widget-area {
    padding: 0;
    width: 187.5px;
  }
}
@media (max-width: 600px) {
  .wmlf-app-widget-area {
    display: none;
  }
}
@media (max-width: 600px) {
  .wmlf-app-content_has-active-mobile-sidebar .wmlf-app-widget-area {
    display: block;
  }
}

.wmlf-site-footer {
  clear: both;
  width: 100%;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.wmlf-site-header {
  position: relative;
  z-index: 11;
}

/*--------------------------------------------------------------
# Primary bar ( e.g., for global account controls, etc. )
--------------------------------------------------------------*/
.wmlf-bar-primary {
  position: relative;
  width: 100%;
  background: #02276d;
  color: #fff;
  /*--------------------------------------------------------------
  # Layout for nested block.
  --------------------------------------------------------------*/
}
@media (min-width: 783px) {
  .wmlf-bar-primary {
    height: 38px;
  }
  .wmlf-bar-primary svg {
    height: 20px;
    width: 20px;
  }
}
.wmlf-bar-primary .wmlf-mobile-toggle-menu {
  float: left;
}
.wmlf-bar-primary .log-out-link {
  float: right;
  text-align: right;
  color: #fff;
}
.wmlf-bar-primary .log-out-link:hover {
  color: #000;
}

/*--------------------------------------------------------------
# Secondary bar ( e.g., for showing breadcrumbs, etc. )
--------------------------------------------------------------*/
.wmlf-bar-secondary, .wmlf-site-bread-crumb-nav {
  display: none;
  padding: 7.5px 30px;
  width: 100%;
  background: #fff;
  color: #000;
}
@media (min-width: 961px) {
  .wmlf-bar-secondary, .wmlf-site-bread-crumb-nav {
    display: block;
  }
}

/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/
@media (max-width: 960px) {
  .wmlf-app-widget-area:after {
    display: block;
    position: absolute;
    content: '';
    background: #02276d;
    height: 100%;
    width: 187.5px;
    top: 0;
  }
}

/*--------------------------------------------------------------
## Content Area
--------------------------------------------------------------*/
.my-account-content-wrapper {
  padding: 10px;
  overflow: hidden;
}

.wmlf-article-card {
  background: #fff;
  border: 1px solid #e5e5e5;
  margin-bottom: 12px;
}
.wmlf-article-card__body {
  padding: 15px;
}
.wmlf-article-card__title {
  font-weight: 700;
  color: #2E4453;
  font-size: 1.33333em;
  line-height: 1.33333em;
  font-weight: 700;
  font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0.33333em;
}
.wmlf-article-card__content-link {
  color: #000;
}
.wmlf-article-card__post-relative-time-status {
  color: #a4b0b8;
  float: left;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 20px;
  font-size: 1.25rem;
}
.wmlf-article-card__post-excerpt, .wmlf-article-card__popup-footer-content {
  font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3d596d;
  font-size: 28px;
  font-size: 1.75rem;
}
.wmlf-article-card__popup-footer-content {
  border-top: 1px solid #e5e5e5;
  padding: 15px;
  display: none;
  font-size: 1em;
}

.wmlf-post-controls {
  border-top: 1px solid #e5e5e5;
}
.wmlf-post-controls__pane {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.wmlf-post-controls__pane > li {
  text-align: center;
  width: 25%;
  float: left;
  border-left: 1px solid #e5e5e5;
}
.wmlf-post-controls__pane > li:first-child {
  border-left: 0;
}
.wmlf-post-controls__control {
  padding: 10px;
  display: block;
}
.wmlf-post-controls__control_disabled {
  color: #a4b0b8;
}
.wmlf-post-controls__control > svg {
  position: relative;
  top: 3px;
  width: 16px;
}
.wmlf-post-controls a {
  cursor: pointer;
}
.wmlf-post-controls__bookmark-button {
  display: none;
}
.wmlf-post-controls__bookmark-button-add {
  display: inline-block;
}
.wmlf-post-controls_bookmarked .wmlf-post-controls__bookmark-button-remove {
  display: inline-block;
}
.wmlf-post-controls_bookmarked .wmlf-post-controls__bookmark-button-add {
  display: none;
}
@media (min-width: 601px) and (max-width: 685px) {
  .wmlf-post-controls__control-text {
    display: none;
  }
}
@media (max-width: 490px) {
  .wmlf-post-controls__control-text {
    display: none;
  }
}

.wmlf-post-meta-controls {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}
.wmlf-post-meta-controls > li {
  display: inline-block;
}
.wmlf-post-meta-controls__control {
  cursor: pointer;
  display: block;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Global widget styles.
--------------------------------------------------------------*/
.wmlf-widget, .wmlf-widget ul {
  padding: 0;
  margin: 0;
}
.wmlf-widget address {
  font-style: italic;
}
.wmlf-widget {
  margin-bottom: 15px;
  position: relative;
  z-index: 10;
  display: block;
}
@media (max-width: 960px) {
  .wmlf-widget {
    margin-bottom: 0;
  }
}
.wmlf-widget__edit-icon {
  position: relative;
  top: 4px;
  margin: 0 5px;
}
.wmlf-widget__edit-icon > svg {
  width: 12px;
}
@media (max-width: 960px) {
  .wmlf-widget_hidden-before-desktop {
    display: none;
  }
}

/*--------------------------------------------------------------
# Widget - Member Areas
--------------------------------------------------------------*/
.wmlf-widget-text {
  background: #fff;
  border: 1px solid #e5e5e5;
  font-size: 12px;
  padding: 10px;
}
.wmlf-widget-text h1, .wmlf-widget-text h2, .wmlf-widget-text h3, .wmlf-widget-text h4, .wmlf-widget-text h5, .wmlf-widget-text h6 {
  font-weight: bold;
}
.wmlf-widget-text h2 {
  font-size: 18px;
}
.wmlf-widget-text h3 {
  font-size: 12px;
}
@media (max-width: 960px) {
  .wmlf-widget-text {
    background: #274A8B;
    border: 0;
    color: #D9E1F0;
    font-size: 12px;
    padding: 10px;
  }
}

.wmlf-widget-contacts__contact-details {
  margin: 0;
}

.wmlf-widget-avatar {
  line-height: 0;
}
@media (max-width: 960px) {
  .wmlf-widget-avatar {
    margin-bottom: 0;
  }
}

.wmlf-widget-addresses .address address {
  margin: 0;
}
.wmlf-widget-addresses .address {
  margin-top: 10px;
}
.wmlf-widget-addresses .address:first-child {
  margin-top: 0;
}

.wmlf-widget-profile-badge {
  border: 1px solid #e5e5e5;
}
.wmlf-widget-profile-badge .wmlf-widget-avatar {
  margin-bottom: 0;
}
.wmlf-widget-profile-badge .wmlf-widget-contacts {
  background: #fff;
  border: 0;
  margin: 0;
}

.wmlf-widget-sections {
  color: #7E8386;
  /*--------------------------------------------------------------
  # Layout for nested block.
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Reverse-compact layout modifier.
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Compact layout modifier.
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Widget theme modifier.
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Miscellaneous modifiers.
  --------------------------------------------------------------*/
}
.wmlf-widget-sections__area, .wmlf-widget-sections__sub-areas {
  background: #fff;
  list-style-type: none;
}
.wmlf-widget-sections__area, .wmlf-widget-sections__sub-area {
  position: relative;
}
.wmlf-widget-sections__area {
  border: 1px solid #EAEEF1;
  margin: 0 0 13px 0;
}
.wmlf-widget-sections__sub-areas {
  border-top: 1px solid #EAEEF1;
}
.wmlf-widget-sections__area_is-active, .wmlf-widget-sections__area_has-active-sub-area {
  background: #E2E9EE;
}
.wmlf-widget-sections__name {
  color: #97A5AE;
  display: inline-block;
  padding: 0.75em;
}
.wmlf-widget-sections__header-name {
  position: relative;
  width: 100%;
  padding: 0.75em;
  display: none;
}
.wmlf-widget-sections__area-link, .wmlf-widget-sections__sub-area-link {
  display: block;
}
.wmlf-widget-sections .arrow-left, .wmlf-widget-sections .arrow-right {
  position: absolute;
}
.wmlf-widget-sections .arrow-left {
  right: -1px;
}
.wmlf-widget-sections .arrow-right {
  left: -1px;
}
@media (min-width: 961px) {
  .wmlf-widget-sections_reverse-compact-on-desktop .wmlf-widget-sections__sub-areas .wmlf-widget-sections__area_is-active .wmlf-widget-sections__sub-areas, .wmlf-widget-sections_reverse-compact-on-desktop .wmlf-widget-sections__area_has-active-sub-area .wmlf-widget-sections__sub-areas {
    display: none;
  }
  .wmlf-widget-sections_reverse-compact-on-desktop .wmlf-widget-sections__header-name {
    display: block;
  }
  .wmlf-widget-sections_reverse-compact-on-desktop .wmlf-widget-sections__area > .wmlf-widget-sections__area-link {
    display: none;
  }
}
@media (max-width: 960px) {
  .wmlf-widget-sections_compact-before-desktop .wmlf-widget-sections__area {
    margin: 0 0 0 0;
    border: 0;
  }
  .wmlf-widget-sections_compact-before-desktop .wmlf-widget-sections__sub-areas {
    border: 0;
    display: none;
  }
  .wmlf-widget-sections_compact-before-desktop .wmlf-widget-sections__area_is-active .wmlf-widget-sections__sub-areas, .wmlf-widget-sections_compact-before-desktop .wmlf-widget-sections__area_has-active-sub-area .wmlf-widget-sections__sub-areas {
    display: block;
  }
}
@media (max-width: 960px) {
  .wmlf-widget-sections_theme_dashboard-before-desktop .wmlf-widget-sections__area {
    background: #02276d;
  }
  .wmlf-widget-sections_theme_dashboard-before-desktop .wmlf-widget-sections__area:hover {
    background: #476EB7;
  }
  .wmlf-widget-sections_theme_dashboard-before-desktop .wmlf-widget-sections__sub-areas {
    background: #274A8B;
  }
  .wmlf-widget-sections_theme_dashboard-before-desktop .wmlf-widget-sections__area_is-active, .wmlf-widget-sections__theme_dashboard-before-desktop .wmlf-widget-sections__area_has-active-sub-area {
    background: #476EB7;
    color: #D9E1F0;
  }
  .wmlf-widget-sections_theme_dashboard-before-desktop .wmlf-widget-sections__name {
    color: #D9E1F0;
  }
}
@media (min-width: 961px) {
  .wmlf-widget-sections_hide-on-desktop {
    display: none !important;
  }
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.avatar {
  border-radius: 0;
}

/*--------------------------------------------------------------
# Shame
--------------------------------------------------------------*/
.entry-title {
  display: none;
}
