.badge {
  @include border-radius(8px);
  display: inline-block;
  padding: 1px 5px;
  font-size: 0.75em;
  border: 1px solid #668eaa;
  color: #668eaa;

  &_important {
    border: 0;
    background: #7FBF8F;
    color: #fff;
  }

  &_alert {
    border: 0;
    background: red;
    color: #fff;
  }
}