.wmlf-article-card {
	background: #fff;
	border: 1px solid $color__border-card;
	margin-bottom: 12px;

	&__body {
		padding: 15px;
	}


	&__title-link {
		
	}

	&__title {
		font-weight: 700;
		color: $color__text-card;
		font-size: 1.33333em;
		line-height: 1.33333em;
		font-weight: 700;
		font-family: $font__article;
		margin-bottom: 0.33333em;
	}

	&__content-link {	
		color: #000;
	}

	&__post-relative-time-status {
		color: $color__text-time;
		float: left;
		font-weight: 500;
		margin-bottom: 0;

		@include font-size(1.25);
	}

	&__post-excerpt, &__popup-footer-content { 
		font-family: $font__article;
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #3d596d;

		@include font-size(1.75);
	}

	&__popup-footer-content {
		border-top: 1px solid $color__border-card;
		padding: 15px;
		display: none;
		font-size: 1em;
	}
}
