.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #F2F6F9;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left: 10px solid #F2F6F9; 
}

.notification {
  position: relative;
  display: inline-block;

  &__count {
    margin-left: -15px;
    font-size: 10px;
  }
}