.wmlf-post-controls {
	border-top: 1px solid $color__border-card;

	&__pane {
		margin: 0;
		padding: 0;
		list-style-type: none;	
		overflow: hidden;

		> li {
			text-align: center;
			width: 25%;
			float: left;
			border-left: 1px solid $color__border-card;

			&:first-child {
				border-left: 0;
			}
		}
	}

	&__control  {
		padding: 10px;
		display: block;

		&_disabled {
			color: #a4b0b8;
		}

		> svg {
			position: relative;
			top: 3px;
			width: 16px;
		}
	}

	a {
		cursor: pointer;
	}

	&__bookmark-button {
		display: none;
	}

	&__bookmark-button-add {
		display: inline-block;
	}

	&_bookmarked &__bookmark-button-remove {
		display: inline-block;
	}

	&_bookmarked &__bookmark-button-add {
		display: none;
	}

	@include breakpoint( width 601px 685px ) {
		&__control-text {
			display: none;
		}
	}

	@include breakpoint( max-width 490px ) {
		&__control-text {
			display: none;
		}
	}
}

.wmlf-post-meta-controls {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;

	> li {
		display: inline-block;
	}

	&__control {
		cursor: pointer;
		display: block;
	}
}