.wmlf-widget-text {
	background: $color__background-widget-text;
	border: 1px solid $color__border-widget-text;
	font-size: 12px;
	padding: 10px;

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 12px;
	}

	@include breakpoint( $before-desktop ) {
		background: #274A8B;
		border: 0;
		color: #D9E1F0;
		font-size: 12px;
		padding: 10px;
	}
}