.wmlf-widget-sections {
	color: $color__text-widget;

	&__area, &__sub-areas {
		background: #fff;
		list-style-type: none;
	}

	&__area, &__sub-area {
		position: relative;
	}

	&__area {
		border: 1px solid #EAEEF1;
		margin: 0 0 13px 0;
	}

	&__sub-areas {
		border-top: 1px solid #EAEEF1;
	}

	&__area_is-active, &__area_has-active-sub-area {
		background: #E2E9EE;
	}

	&__name {
		color: #97A5AE;
		display: inline-block;
		padding: 0.75em;
	}

	&__header-name {
		position: relative;
		width: 100%;
		padding: 0.75em; 
		display: none;
	}	

	&__area-link, &__sub-area-link { 
		display: block;
	}

	/*--------------------------------------------------------------
	# Layout for nested block.
	--------------------------------------------------------------*/
	.arrow {
		&-left, &-right {
			position: absolute;
		}

		&-left {
			right: -1px;		
		}

		&-right {
			left: -1px;		
		}
	}

	/*--------------------------------------------------------------
	# Reverse-compact layout modifier.
	--------------------------------------------------------------*/
	@include breakpoint( $desktop ) {
		&_reverse-compact-on-desktop &__sub-areas  &__area_is-active &__sub-areas,
		&_reverse-compact-on-desktop &__area_has-active-sub-area &__sub-areas  {
			display: none;
		}

		&_reverse-compact-on-desktop &__header-name {
			display: block;
		}

		&_reverse-compact-on-desktop &__area > &__area-link {
			display: none;
		}
	}

	/*--------------------------------------------------------------
	# Compact layout modifier.
	--------------------------------------------------------------*/
	@include breakpoint( $before-desktop ) {
		&_compact-before-desktop &__area {
			margin: 0 0 0 0;
			border: 0;
		}

		&_compact-before-desktop &__sub-areas {
			border: 0;
			display: none;
		}

		&_compact-before-desktop &__area_is-active &__sub-areas,
		&_compact-before-desktop &__area_has-active-sub-area &__sub-areas  {
			display: block;
		}
	}
	
	/*--------------------------------------------------------------
	# Widget theme modifier.
	--------------------------------------------------------------*/
	@include breakpoint( $before-desktop ) {
		&_theme_dashboard-before-desktop &__area {
			background: #02276d;

			&:hover {
				background: #476EB7;
			}
		}

		&_theme_dashboard-before-desktop &__sub-areas {
			background: #274A8B;
		}

		&_theme_dashboard-before-desktop &__area_is-active, 
		&__theme_dashboard-before-desktop &__area_has-active-sub-area {
			background: #476EB7;
			color: #D9E1F0;
		}

		&_theme_dashboard-before-desktop &__name {
			color: #D9E1F0;
		}
	}

	/*--------------------------------------------------------------
	# Miscellaneous modifiers.
	--------------------------------------------------------------*/
	&_hide-on-desktop {
		@include breakpoint( $desktop ) {
			display: none !important;
		}
	}
}
