/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "masthead/header";

/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/
@import "secondary/sidebar";

/*--------------------------------------------------------------
## Content Area
--------------------------------------------------------------*/
.my-account-content-wrapper {
	padding: 10px;
	overflow: hidden;
}

@import "../modules/modules";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "secondary/widgets";