.wmlf-hovercard {
	margin: 0;
	padding: 0;
	list-style-type: none;

	&__label {
		float: left;

		&:hover {
			background: #7E8386;

			.wmlf-hovercard__pop-up {
				// display: block;
			}
		}
	}

	&__label-link {
		color: #fff;
		display: block;
		cursor: pointer;
		padding: 0 10px;
		position: relative;
		height: $nav-bar__mobile;
		
		@include breakpoint( $after-tablet ) {
			padding: 0 6px;
			height: $nav-bar__desktop;
		}

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	&__profile-name {
		font-size: 14px;
		white-space: nowrap;
		float: left;
		margin-right: 8px;
		height: $nav-bar__desktop;
		line-height: $nav-bar__desktop;
		color: #fff;

		@include breakpoint( $tablet ) {
			display: none;
		}
	}

	&__pop-up {
		display: none;
		width: 280px;
		position: absolute;
		z-index: 11;
		top: 46px;
		padding: 5px;
		background: #7E8386;

		@include breakpoint( $mobile ) {
			width: 100%;
		}

		@include breakpoint( $after-tablet ) {
			top: 38px;
		}
	}

	&__description {
		margin-bottom: 0;
		font-size: 0.85em;
	}

	&__menu {
		margin: 4px 0 0 0;
		list-style-type: none;
	}

	&__menu-item {
		margin-top: 1px;

		&:first-child {
			margin-top: 0;
		}

		> a {
			padding: 10px;
			background: #fff;
			color: #000;
			display: block;

			&:hover {
				background: $color__background-popup-list-hover;
			}
		}
	}
}

.wmlf-hovercard {
	&_notification {
		float: left;		
	}

	&__pop-up_notifications {
		left: 0;
	}

	&__pop-up_notifications &__menu {
		max-height: 250px;
	    overflow-y: scroll;
	    overflow-x: hidden;
	}
}

.wmlf-hovercard {
	&_edit-settings {
		float: right;		
	}

	&__pop-up_edit-settings {
		right: 0;
	}
}
