a {
	color: $color__link;
	text-decoration: none;

	// Some themes work-around from using text-deoration: underline
	// by using box-shadow instead.
	box-shadow: 0 0 0 0 transparent;

	// This irritating transition from the X Theme.
	// transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
	-moz-transition: none;
    -webkit-transition: none;
    -o-transition: background-color 0 ease-in;
    transition: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}