.wmlf-tabs {
	background: #fff;
	border: 1px solid $color__border-tabs;
	margin-bottom: 12px;

	&__list {
		overflow: hidden;
		margin: 0;
		padding: 0;

		&, ul {
			list-style-type: none;
		}
	}

	&__link {
		padding: 10px 15px 8px 15px;
		display: block;
		border-bottom: 2px solid transparent;
	}

	&__tab_selected &__link {
		border-bottom: 2px solid $color__border-tab-active;
	}

	&__tab {
		float: left;
		display: none;

		&_selected {
			display: block;
		}

		@include breakpoint( $desktop ) {
			display: block;
		}
	}
}