.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: #fff;
	font-size: 0.8em;
	line-height: 1;
	padding: .8em 2em .8em;
	text-shadow: 0 0 0 transparent;

	&:hover {
		border-color: $color__border-button-hover;
		box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent, inset 0 0 0 transparent;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent;
	}
}

.button:visited, .button:active, .button:link {
	color: #fff;
}

.button.cancel {
	background-color: $color__background-button-discourage;
}

.wmlf-mobile-toggle-menu {
	// background: #132443; //#818A8F;
	border-radius: 0;
    padding: 9px;
	height: $nav-bar__mobile;
    width: $nav-bar__mobile;
    cursor: pointer;
    border: 0;
    display: block;
    outline: 0;

    > svg {
    	width: 100%;
    	height: auto;
    }

    &:hover path {
    	fill: #476EB7;
    }
	
	@include breakpoint( $after-mobile ) {
    	display: none;
    }
}