.wmlf-app-content-area {
	float: right;
	width: $size__site-main;
	margin: 0 0 0 ( -$size__site-sidebar );
	width: 100%;

	@include breakpoint( $before-desktop ) {
		margin: 0 0 0 ( -$size__site-sidebar * 0.75 );
	}

	@include breakpoint( $mobile ) {
		margin: 0 0 0 0;
	}

	.wmlf-app-content_has-active-mobile-sidebar & {
		@include breakpoint( $mobile ) {
			margin: 0 0 0 ( -$size__site-sidebar * 0.75 );
		}
	}
}

.wmlf-app-main {
	padding: $site__gutter;
	margin: 0 0 0 $size__site-sidebar;

	@include breakpoint( $before-desktop ) {
		margin: 0 0 0 ( $size__site-sidebar * 0.75 );
	}

	@include breakpoint( $mobile ) {
		margin: 0 0 0 0;
	}

	.wmlf-app-content_has-active-mobile-sidebar & {
		@include breakpoint( $mobile ) {
			margin: 0 0 0 ( $size__site-sidebar * 0.75 );
		}
	}
}

.wmlf-app-content {
	padding: $site__gutter;

	@include breakpoint( $before-desktop ) {
		padding: 0;
	}
}

//.wmlf-app-content .wmlf-app-widget-area
.wmlf-app-widget-area {
	display: block;
	float: left;
	overflow: hidden;
	width: $size__site-sidebar;
	padding: $site__gutter;

	@include breakpoint( $before-desktop ) {
		padding: 0;
		width: $size__site-sidebar * 0.75;
	}

	@include breakpoint( $mobile ) {
		display: none;
	}

	.wmlf-app-content_has-active-mobile-sidebar & {
		@include breakpoint( $mobile ) {
			display: block;
		}
	}
}

.wmlf-site-footer {
	clear: both;
	width: $size__site-main;
}