.wmlf-app-widget-area {
	@include breakpoint( $before-desktop ) {
		&:after {
			display: block;
			position: absolute;
			content: '';
			background: $color__background-sidebar__theme-dashboard;
			height: 100%;
			width: $size__site-sidebar * 0.75;
			top: 0;
		}	
	}
}