/*--------------------------------------------------------------
# Global widget styles.
--------------------------------------------------------------*/
.wmlf-widget {
	&, ul {
		padding: 0;
		margin: 0;
	}

	address {
		font-style: italic;
	}

	& {
		margin-bottom: 15px;
		position: relative;
		z-index: 10;
		display: block;

		@include breakpoint( $before-desktop ) {
			margin-bottom: 0;
		}
	}

	&__edit-icon {
		position: relative;
	    top: 4px;
	    margin: 0 5px;
	  
		> svg {
			width: 12px;
		}	    
	}

	&_hidden-before-desktop {
		@include breakpoint( $before-desktop ) {
			display: none;			
		}
	}
}

/*--------------------------------------------------------------
# Widget - Member Areas
--------------------------------------------------------------*/
@import "../../modules/widget-text";

@import "../../modules/widget-contacts";

@import "../../modules/widget-avatar";

@import "../../modules/widget-addresses";

@import "../../modules/widget-profile-badge";

@import "../../modules/widget-sections";
