/*--------------------------------------------------------------
# Background colors.
--------------------------------------------------------------*/
$color__background-body: #F2F6F9;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;

$color__background-button: #02276D;
$color__background-button-discourage: #7E8386;

$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__background-popup: #7E8386;
$color__background-popup-list-hover: #F2F6F9;

$color__background-navbar-profile: #02276d;
$color__background-navbar-breadcrumb: #fff;

$color__background-navbar-profile: #02276d;
$color__background-navbar-breadcrumb: #fff;

$color__background-sidebar__theme-dashboard: #02276d;
$color__background-sidebar__theme-website: #fff;

$color__background-widget-text:  #fff;

/*--------------------------------------------------------------
# Text colors.
--------------------------------------------------------------*/
$color__text-screen: #3d596d;

$color__text-input: #668eaa;
$color__text-input-focus: #3d596d;

$color__link: #668eaa;
$color__link-visited: $color__link;
$color__link-hover: #4f748e;

$color__text-main: #3d596d;
$color__text-navbar-profile: #fff;
$color__text-card: #2E4453;
$color__text-time: #a4b0b8;
$color__text-widget: #7E8386;

/*--------------------------------------------------------------
# Border colors.
--------------------------------------------------------------*/
$color__border-button: transparent transparent transparent;
$color__border-button-hover: transparent transparent transparent;
$color__border-button-focus: transparent transparent transparent;

$color__border-input: #e5e5e5;
$color__border-abbr: #e5e5e5;
$color__border-tab-active: #02276D;
$color__border-card: #e5e5e5;
$color__border-tabs: #e5e5e5;
$color__border-table: #e5e5e5;

$color__border-widget-text:  #e5e5e5;

$color__border-badge: #668eaa;
