$desktop: min-width 961px;					// Maps to 913px in EQCSS.
$before-desktop: max-width 960px;   // Maps to 912px in EQCSS.

$after-tablet: min-width 783px;     // Maps to 744px in EQCSS.
$tablet: max-width 782px;           // Maps to 743px in EQCSS.

$after-mobile: min-width 601px;     // Maps to 571px in EQCSS.
$mobile: max-width 600px;           // Maps to 570px in EQCSS.
